/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: darkorange;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#mail {
    border-radius: 5px;
    padding: 5px;
}

#enter {
    border-radius: 5px;
    padding: 5px;
}

#idoneo {
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
}